:root {

    --cyan-for-button: #1ab394;
    --emty-body: #e7e7e7;
    --text-color: #909090;
    --container-color: #fefefe;

}

* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);

}

body {
    height: 100%;
    width: 100%;

}

.body-container {}

div:not(.body-container) {
    background-color: var(--container-color);
}

a {
    text-decoration: none;
    color: inherit;
}

.item-name {
    color: var(--cyan-for-button);
}

.checkout-button {
    color: #fefefe;
    background-color: var(--cyan-for-button);
    border: #e7e7e7 solid 0.05em;
    height: 1.5em;
    width: 7.5em;
    font-size: 15px;

    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.footer-cart-items .checkout-button {
    border-radius: 0.25em;
}

.cancel-button {
    background-color: inherit;
    border: #e7e7e7 solid 0.05em;
    margin-left: -0.5em;
    height: 1.5em;
    width: 5.5em;
    font-size: 15px;
    font-weight: 700;

    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.continue-shopping {
    background-color: inherit;
    border: #e7e7e7 solid 0.05em;
    margin: 0%;
    padding-top: 0.25em;
    text-align: center;
    height: 1.75em;
    width: 11.5em;
    font-size: 15px;
    font-weight: 600;

    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;

}

.white-icon {
    color: white;
}

.previous-price {
    text-decoration: line-through;

}

.body-container {
    background-color: #e7e7e7;
    display: flex;
    gap: 2vw;
    padding: 2vh;
}

.cart-items-container {
    flex-basis: 75%;
    border: #e7e7e7 solid 0.05em;

}

.cart-summary-container {
    flex-basis: 25%;
    border: #e7e7e7 solid 0.05em;
    height: 13.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.summary-title {
    border-bottom: #e7e7e7 solid 0.05em;
    padding-left: 1.5em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    font-size: 15px;
    font-weight: 700;
}

.summary-description {
    padding-left: 1.25em;
    padding-right: 0.75em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total {
    border-bottom: #e7e7e7 solid 0.05em;
    padding-bottom: .05em;
    margin-bottom: 0.5em;

}


#total-cart-value {
    font-size: 20px;
    font-weight: 700;
}

.items-title-container{
    border-bottom: #e7e7e7 solid 0.15em;
    display: flex;
    justify-content: space-between;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;

}
.image-container{
    height: 5vmax;
    aspect-ratio: 1 / 1;
    padding-left: 1.5em;



}
.placeholder-image{
    background-image: linear-gradient(#c9c5c5,rgb(207, 207, 207));
    aspect-ratio: 1 / 1;
}

.item-quantity-price-container{
    /* padding-top: 1.5em; */
    border-bottom: #e7e7e7 solid 0.15em;
    
    

}
.cart-item-details-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1.25em;
    gap: 1.5em;
    border-bottom: #e7e7e7 solid 0.15em;
    
}

.item-details{
    display: flex;
    flex-direction: column;
    gap: .75em;
    margin-bottom: 1.5em;
}
.item-detail-buttons-container button{
    background-color: inherit;
    border: none;
    font-size: 15px;
    font-weight: 200;
}
.description{
    font-size: 15px;
    font-weight: 750;
}

.item-quantity-price-container{
    display: flex;
    gap: 0.75em;
    padding-right: 1.5em;
}

.item-quantity-price-container input{
    border: #e7e7e7 solid 0.15em;;
    height: 2.5em;
    width: 2.5em;

}
.amount-per-item{
    font-size: 15px;
    font-weight: 750;

}

.price-per-item{
    display: flex;
    gap: 0.25em;
}

.footer-cart-items{
    display: flex;
    justify-content: space-between;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}


/* for Tablets and phones */
@media only screen and (max-width: 960px) {
    .body-container {
        background-color: var(--container-color);
        display: flex;
        flex-direction: column;
        gap: 2vw;
        padding: 2vh;
    }

    .cart-items-container {
        order: 2;
        flex-basis: 100%;

    }

    .cart-summary-container {
        order: 1;
        flex-basis: 100%;

    }
}