:root {
    --grey: #55595c;
    --black: #212529;
    --blue: #0d6efd;
    --white: #c7c7c7;
    --body-color: #f8f9fa;

}

* {
    margin: 0%;
    padding: 0%;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-color);
}

.body-container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}