:root {
    --dark-blue: #4d00ee;
    --very-light-blue: #98a6e8;
    --light-blue: #4941cd;


    --gradient: linear-gradient(to bottom right, rgb(64, 64, 197), rgb(5, 5, 92));

}

* {
    margin: 0%;
    padding: 0%;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.info{
    color: white;
}

.body-container {
    display: flex;
    height: 100vh;
    width: 100vw;

}



/* info */

.info-container {
    background: var(--gradient);
    flex-basis: 40%;
    
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;

    
}
.flex-for-info{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 80%;
    justify-content: center;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
}
.image-container{
 height: max-content;
 width: max-content;
 background-color:  var(--light-blue);
}

.info-text{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Signup  */

.signUp-container {
    flex-basis: 60%;
}

.input-box label,
input {
    display: flex;
    flex-direction: column;
}

#userType {
    color: #4000c5;
}

.signUp-container {
    display: flex;
    flex-direction: column;
    padding-left: 8em;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;

}

#shadow {
    height: 0.2em;
    width: 3em;
    background: grey;
}

#signUpForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1em;

}

.input-box input {

    background: #f5f5f5;
    height: 2em;
    border: none;
    border-radius: 0.5em;
}

.input-box input:focus {
    background-color: white;
    outline: none !important;
    border: 1px solid var(--light-blue);
}

.input-box-half{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}
.input-box-half .input-box {
    flex-basis: 48%;

}


.input-box input {
    width: 100%;
}


#TOS {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
}
#tOSCheckbox{
    margin-top: -2em;
}

#signUp-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}
#signup_button{
    padding: 1em;
    width: 7em;
    color: white;
    background-color: var(--light-blue);
    border-radius: 0.8em;;
    display: flex;
    justify-content: center;
    
}


/* for Smartphones */
@media only screen and (max-width: 640px) {

    .body-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    
    }


    .info-container {
        background: var(--gradient);
        min-height: 70vh;
        
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: center;
        align-items: center;
        align-content: center;
        
    }
    
    .signUp-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 2em;
        padding: 2em;
    
    }

    .input-box-half{
        gap: 0.5em;
    }


}
